@model TramaWebApp.Models.Book

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Edit a
                    <strong>Book</strong>
                </h2>
                <hr>

                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="BookId" />
                        <div class="form-group col-lg-4">
                            <label asp-for="Author" class="control-label"></label>
                                <input asp-for="Author" class="form-control" />
                                <span asp-validation-for="Author" class="text-danger" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" type="file" name="file" class="form-control" accept=".jpg, .png, .gif" />
                                <span asp-validation-for="Image" class="text-danger" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </div>
                </form>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
                </div>
            </div>
</div>
    </div>

                @section Scripts {
                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
                }
